.content div {
    height: 300px;
    transition: 0.6s;
}
.content div .col-3:hover{
    box-shadow: black 1px 3px 6px;
    background: rgba(0,0,0,0.005);
    border-bottom: black 0 solid;
}
.content>div>.col-3 {
    border-bottom: black 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}

@media only screen and (min-width: 870px) {
    .content>div>.col-3 h1 {
        font-size: 130px;

        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;
        font-family: 'Fredoka One', cursive;
        transition: 0.5s;
        cursor: pointer;
    }
}


@media only screen and (min-width: 768px) {
    .content>div>.col-3 h1 {
        font-size: 100px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;
        font-family: 'Fredoka One', cursive;
        transition: 0.5s;
        cursor: pointer;
    }
}

@media only screen and (max-width: 767px) {
    .content>div>.col-3 h1 {
        font-size: 130px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000000;
        font-family: 'Fredoka One', cursive;
        transition: 0.5s;
        cursor: pointer;
    }
}





.rotating {-webkit-animation: tranfom 5s linear infinite;}





@keyframes rotating {
    0%{transform: translateY(0)translateX(0)}
    25%{transform: translateY(-40px) translateX(-30px)}
    50%{transform: translateY(0) translateX(0)}
    75%{transform: translateY(-40px) translateX(30px)}
    100%{transform: translateY(0) translateX(0)}
}





@keyframes rotating { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-40px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-40px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }




.content>div>.col-3 i {
    font-size: 0;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: 0.5s;
}
.content div .col-3:hover i{
    display: block;
    font-size: 35px;
}



.content>div>.col-3 h2 {
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.content>div>.col-3 i:hover {
    color: red;
}
.media audio{
    height: 0;
    display: inline;
}
.media {
    height: 0;
    width: 1px;
    overflow: hidden;
}




.active {
    border-bottom: black 2px solid;
    font-weight: bold;
    font-size: 20px;
}

.hiden {
    display: none;
}



















.content div .col-4:hover{
    box-shadow: black 1px 3px 6px;
    background: rgba(0,0,0,0.005);
    border-bottom: black 0 solid;
}
.content>div>.col-4 {
    border-bottom: black 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}
.content>div>.col-4 h1 {
    font-size: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    font-family: 'Fredoka One', cursive;
    transition: 0.5s;
    cursor: pointer;
}


.content>div>.col-4 i {
    font-size: 0;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: 0.5s;
}
.content div .col-4:hover i{
    display: block;
    font-size: 35px;
}


.content>div>.col-4 h2 {
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.content>div>.col-4 i:hover {
    color: red;
}


