* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
a:focus{
    outline: none;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    width: 100%;
}
@media only screen and (max-width: 399px) {
    .logo h1 > span {
        font-family: 'Fredoka One', cursive;
        font-size: 50px;
    }
    .items div{
        border-radius: 0;
        height: 260px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin: 5px auto;
        align-items: center;
    }
    .view {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items div .col-11 div a img {
        width: 90%;
        border: white 3px solid;
        border-radius: 15px;
    }
    .items div .col-11 h3 {
        font-size: 75px;
    }
    .items div .col-11 h2 {
        font-size: 70px;
    }
}



@media only screen and (max-width: 599px) {
    .logo h1 > span {
        font-family: 'Fredoka One', cursive;
        font-size: 70px;
    }
    .width {
        transform: scale(0);
        height: 0;
    }
    .menutop {
        display: flex;
        justify-content: center;
        overflow: hidden;
        align-items: center;
    }
    .navbar-icon {
        display: block;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    .items div{
        border-radius: 0;
        height: 320px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin: 5px auto;
        align-items: center;
    }
    .view {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items div .col-11 div a img {
        width: 90%;
        border: white 3px solid;
        border-radius: 15px;
    }
    .items div .col-11 h3 {
        font-size: 75px;
    }
    .items div .col-11 h2 {
        font-size: 70px;
    }
}



@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    .menutop {
    }

    .logo h1 > span {
        font-family: 'Fredoka One', cursive;
        font-size: 60px;
    }

    .menutop {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .navbar-icon {
        display: none;
    }

    .menutop ul {
        height: 100%;
    }
    .items div{
        border-radius: 0;
        height: 400px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px auto;
    }
    .items div .col-11 div a img {
        width: 90%;
        border: white 3px solid;
        border-radius: 15px;
    }
    .view {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items div .col-11 h3 {
        font-size: 80px;
    }
    .items div .col-11 h2 {
        font-size: 70px;
    }
}













@media only screen and (min-width: 768px) {

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .logo h1 > span {
        font-family: 'Fredoka One', cursive;
        font-size: 60px;

    }

    .menutop {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .navbar-icon {
        display: none;
    }

    .menutop ul {
        height: 100%;
    }
    .items div{
        border-radius: 10px;
        height: 300px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items div .col-11 div a img {
        width: 90%;
        border: white 3px solid;
        border-radius: 15px;
    }
    .view {
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items div .col-11 h3 {
        font-size: 55px;
    }
    .items div .col-11 h2 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1000px) {
    .items div{
        border-radius: 10px;
        height: 350px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1200px) {

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .logo h1 > span {
        font-family: 'Fredoka One', cursive;
        font-size: 60px;

    }

    .menutop {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .navbar-icon {
        display: none;
    }

    .menutop ul {
        height: 100%;
    }
    .items div{
        border-radius: 10px;
        height: 400px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items div .col-11 div a img {
        width: 80%;
        border: white 3px solid;
        border-radius: 15px;
    }
    .view {
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items div .col-11 h3 {
        font-size: 80px;
    }
    .items div .col-11 h2 {
        font-size: 70px;
    }
}

/* Css apply all */

.link:hover {
    box-shadow: black 1px 2px 3px;
}

.navbar-icon {
    position: absolute;top: 15px;
    right: 20px;
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.logo h1 label {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: #ffd400;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.menutop ul li {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menutop ul li a:hover {
    box-shadow: black 1px 2px 3px;
    transition: 0.4s;
    background: hotpink;
    color: #fff;
}

.menutop ul li a i {
    margin-right: 3px;
    color: black;
}

.menutop ul li a {
    width: 120px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    color: #ff5c20;
}

.menutop {
    transition: 0.6s;
}



.bam {
    clear: both;
    width: 100%;
    height: 4px;
    background: black;
    margin-top: 5px;
    transition: 0.3s;
}



.tran {
    transform: scale(1);
}


.header {
    background-image: linear-gradient(to bottom right, #00ffc4,yellow);
}
/* set color text in span tag */

.text_color_red {
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.text_color_yellow {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.text_color_green {
    color: #1aff00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.text_color_blue {
    color: #288aff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.text_color_orange {
    color: #ff5c20;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.text_color_Brown {
    color: #a03333;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}





.items {
    display: block;
}








.items div .col-11{
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items div .col-11:hover {
    box-shadow: black 2px 4px 7px;
    transform: translateY(-7px);
}

.items div .col-11 div a {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}




.items div .col-11 div {
    height: 85%;
    cursor: pointer;
}
.items div .col-11 > .rotate-right:hover{
    transform: rotate(-3deg);
    box-shadow: none;
}
.items div .col-11 > .rotate-left:hover{
    box-shadow: none;
    transform: rotate(3deg);
}

.background_color_red {
    background: red;
}

.background_color_yellow {
    background: yellow;
}

.background_color_green {
    background: #50ff4a;
}

.background_color_blue {
    background: #288aff;
}

.background_color_orange {
    background: #ff5c20;
}

.background_color_pink {
    background: deeppink;
}

.background_color_Brown {
    background: #a03333;
}

.background_color_sky_blue {
    background: #03fff8;
}

.container {
    width: 100%;
    min-height: 1000px;
    overflow: hidden;
}




@keyframes jump {
    0%   {left:0; top:0;}
    25%  {left:0; top:15px;}
    50% {left:0; top:-10px;}
    75%  {left:0; top:15px;}
    100% {left:0; top:0;}
}


.logo h1 .text_color_red{
    /*animation-name: jump;*/
    -webkit-animation: jump  linear infinite;
    animation-duration: 2.5s;
    position: relative;
    animation-delay: 0s;
}
.logo h1 .text_color_green{
    /*animation-name: jump;*/
    -webkit-animation: jump  linear infinite;
    animation-duration: 2.5s;
    position: relative;
    animation-delay: 0.3s;
}
.logo h1 .text_color_blue{
    /*animation-name: jump;*/
    -webkit-animation: jump  linear infinite;
    animation-duration: 2.5s;
    position: relative;
    animation-delay: 0.4s;
}
.logo h1 .text_color_orange{
    /*animation-name: jump;*/
    -webkit-animation: jump  linear infinite;
    animation-duration: 2.5s;
    position: relative;
    animation-delay: 0s;
}
.logo h1 label{
    /*animation-name: jump;*/
    -webkit-animation: jump  linear infinite;
    animation-duration: 2.5s;
    position: relative;
    animation-delay: 0.5s;
}

.footer img {
    width: 100%;height: 100%;
}


.link-full-size {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    width: 100%;
    border-bottom: green 2px solid;
}


.back-to-home {
    background: white;
    border-radius: 50%;
}

.back-to-home i {
    position: fixed;
    right: 5px;
    bottom: 5px;
    font-size: 30px;
    transition: 0.5s;
}


.back-to-home i:hover{
    color: red;
}


.remote .col-s-4:hover {
color: red;
    font-weight: bold;
    font-size: 20px;
    border-bottom: black 2px solid;
}






.remote .col-s-4{
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;

    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:hover i{
    color: red;
}

.banner i {
    color: purple;
    font-size: 40px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.banner i:hover{
    font-size: 50px;
}


.media audio{
    height: 0;
    display: inline;
}
.media {
    height: 0;
    width: 1px;
    overflow: hidden;
}


