.class-1 {
    color: #ff5c20;
    font-weight: bold;
}
.class-2 {
    color: #2072ff;
    font-weight: bold;
}
.class-3 {
    color: #ff0000;
    font-weight: bold;
}
.class-4 {
    color: #88ff00;
    font-weight: bold;
}
.class-5 {
    color: #ff0000;
    font-weight: bold;
}
.class-6 {
    color: #f6ff00;
    font-weight: bold;
}
.class-7 {
    color: #1100ff;
    font-weight: bold;
}
.class-8 {
    color: #ff0000;
    font-weight: bold;
}
.class-9 {
    color: #06ff00;
    font-weight: bold;
}
.class-10 {
    color: #ff4ce7;
    font-weight: bold;
}








.class-11 {
    color: #ff5c20;
    font-weight: bold;
}
.class-12 {
    color: #2072ff;
    font-weight: bold;
}
.class-13 {
    color: #ff3e3e;
    font-weight: bold;
}
.class-14 {
    color: #c1ff76;
    font-weight: bold;
}
.class-15 {
    color: #bfd446;
    font-weight: bold;
}
.class-16 {
    color: #f6ff00;
    font-weight: bold;
}
.class-17 {
    color: #47aaff;
    font-weight: bold;
}
.class-18 {
    color: #ff0000;
    font-weight: bold;
}
.class-19 {
    color: #5900ff;
    font-weight: bold;
}
.class-20 {
    color: #ff4ce7;
    font-weight: bold;
}










.class-21 {
    color: #994321;
    font-weight: bold;
}
.class-22 {
    color: #2072ff;
    font-weight: bold;
}
.class-23 {
    color: #ff0000;
    font-weight: bold;
}
.class-24 {
    color: #315d00;
    font-weight: bold;
}
.class-25 {
    color: #ff0000;
    font-weight: bold;
}
.class-26 {
    color: #f6ff00;
    font-weight: bold;
}
.class-27 {
    color: #1100ff;
    font-weight: bold;
}
.class-28 {
    color: #b50000;
    font-weight: bold;
}
.class-29 {
    color: #679b67;
    font-weight: bold;
}
.class-30 {
    color: #801c71;
    font-weight: bold;
}













.class-31 {
    color: #ff5c20;
    font-weight: bold;
}
.class-32 {
    color: #2072ff;
    font-weight: bold;
}
.class-33 {
    color: #ff0000;
    font-weight: bold;
}
.class-34 {
    color: #88ff00;
    font-weight: bold;
}
.class-35 {
    color: #ff0000;
    font-weight: bold;
}
.class-36 {
    color: #f6ff00;
    font-weight: bold;
}
.class-37 {
    color: #1100ff;
    font-weight: bold;
}
.class-38 {
    color: #ff0000;
    font-weight: bold;
}
.class-39 {
    color: #06ff00;
    font-weight: bold;
}
.class-40 {
    color: #ff4ce7;
    font-weight: bold;
}










.class-41 {
    color: #ff5c20;
    font-weight: bold;
}
.class-42 {
    color: #2072ff;
    font-weight: bold;
}
.class-43 {
    color: #ff0000;
    font-weight: bold;
}
.class-44 {
    color: #88ff00;
    font-weight: bold;
}
.class-45 {
    color: #ca5f5f;
    font-weight: bold;
}
.class-46 {
    color: #f6ff00;
    font-weight: bold;
}
.class-47 {
    color: #1100ff;
    font-weight: bold;
}
.class-48 {
    color: #ff0000;
    font-weight: bold;
}
.class-49 {
    color: #3ba739;
    font-weight: bold;
}
.class-50 {
    color: #e778d4;
    font-weight: bold;
}

















.class-51 {
    color: #ff5c20;
    font-weight: bold;
}
.class-52 {
    color: #2072ff;
    font-weight: bold;
}
.class-53 {
    color: #ff0000;
    font-weight: bold;
}
.class-54 {
    color: #26ff00;
    font-weight: bold;
}
.class-55 {
    color: #b76c6c;
    font-weight: bold;
}
.class-56 {
    color: #f6ff00;
    font-weight: bold;
}
.class-57 {
    color: #00ffac;
    font-weight: bold;
}
.class-58 {
    color: #ff0000;
    font-weight: bold;
}
.class-59 {
    color: #06ff00;
    font-weight: bold;
}
.class-60 {
    color: #8a387f;
    font-weight: bold;
}




















.class-61 {
    color: #ff5c20;
    font-weight: bold;
}
.class-62 {
    color: #1a2e51;
    font-weight: bold;
}
.class-63 {
    color: #ff0000;
    font-weight: bold;
}
.class-64 {
    color: #88ff00;
    font-weight: bold;
}
.class-65 {
    color: #ff8686;
    font-weight: bold;
}
.class-66 {
    color: #f6ff00;
    font-weight: bold;
}
.class-67 {
    color: #8676e3;
    font-weight: bold;
}
.class-68 {
    color: #ff0000;
    font-weight: bold;
}
.class-69 {
    color: #06ff00;
    font-weight: bold;
}
.class-70 {
    color: #b3ff28;
    font-weight: bold;
}





















.class-71 {
    color: #7e4734;
    font-weight: bold;
}
.class-72 {
    color: #2072ff;
    font-weight: bold;
}
.class-73 {
    color: #ecffaa;
    font-weight: bold;
}
.class-74 {
    color: #88ff00;
    font-weight: bold;
}
.class-75 {
    color: #ff0000;
    font-weight: bold;
}
.class-76 {
    color: #8e9200;
    font-weight: bold;
}
.class-77 {
    color: #1100ff;
    font-weight: bold;
}
.class-78 {
    color: #ff0000;
    font-weight: bold;
}
.class-79 {
    color: #06ff00;
    font-weight: bold;
}
.class-80 {
    color: #ff4ce7;
    font-weight: bold;
}













.class-81 {
    color: #ff5c20;
    font-weight: bold;
}
.class-82 {
    color: #2072ff;
    font-weight: bold;
}
.class-83 {
    color: #00ffd9;
    font-weight: bold;
}
.class-84 {
    color: #88ff00;
    font-weight: bold;
}
.class-85 {
    color: #ff9898;
    font-weight: bold;
}
.class-86 {
    color: #f6ff00;
    font-weight: bold;
}
.class-87 {
    color: #1100ff;
    font-weight: bold;
}
.class-88 {
    color: #ff0000;
    font-weight: bold;
}
.class-89 {
    color: #06ff00;
    font-weight: bold;
}
.class-90 {
    color: #ff4ce7;
    font-weight: bold;
}






















.class-91 {
    color: #ff5c20;
    font-weight: bold;
}
.class-92 {
    color: #2072ff;
    font-weight: bold;
}
.class-93 {
    color: #535430;
    font-weight: bold;
}
.class-94 {
    color: #88ff00;
    font-weight: bold;
}
.class-95 {
    color: #08f7ff;
    font-weight: bold;
}
.class-96 {
    color: #f6ff00;
    font-weight: bold;
}
.class-97 {
    color: #221d64;
    font-weight: bold;
}
.class-98 {
    color: #ff0000;
    font-weight: bold;
}
.class-99 {
    color: #06ff00;
    font-weight: bold;
}
.class-100 {
    color: #b373ad;
    font-weight: bold;
}




.tranfom1   {-webkit-animation: tranfom1   4s linear infinite;}
.tranfom2   {-webkit-animation: tranfom2   5s linear infinite;}
.tranfom3   {-webkit-animation: tranfom3   6s linear infinite;}
.tranfom4   {-webkit-animation: tranfom4   5s linear infinite;}
.tranfom5   {-webkit-animation: tranfom5   4.5s linear infinite;}
.tranfom6   {-webkit-animation: tranfom6   5s linear infinite;}
.tranfom7   {-webkit-animation: tranfom7   5.5s linear infinite;}
.tranfom8   {-webkit-animation: tranfom8   5s linear infinite;}
.tranfom9   {-webkit-animation: tranfom9   5s linear infinite;}
.tranfom10  {-webkit-animation: tranfom10  6.7s linear infinite;}
.tranfom11  {-webkit-animation: tranfom11  7s linear infinite;}
.tranfom12  {-webkit-animation: tranfom12  7.4s linear infinite;}
.tranfom13  {-webkit-animation: tranfom13  7s linear infinite;}
.tranfom14  {-webkit-animation: tranfom14  5.7s linear infinite;}
.tranfom15  {-webkit-animation: tranfom15  7s linear infinite;}
.tranfom16  {-webkit-animation: tranfom16  7s linear infinite;}
.tranfom17  {-webkit-animation: tranfom17  5s linear infinite;}
.tranfom18  {-webkit-animation: tranfom18  5s linear infinite;}
.tranfom19  {-webkit-animation: tranfom19  5.3s linear infinite;}
.tranfom20  {-webkit-animation: tranfom20  5s linear infinite;}
.tranfom21  {-webkit-animation: tranfom21  5s linear infinite;}
.tranfom22  {-webkit-animation: tranfom22  4.5s linear infinite;}
.tranfom23  {-webkit-animation: tranfom23  5s linear infinite;}
.tranfom24  {-webkit-animation: tranfom24  5s linear infinite;}
.tranfom25  {-webkit-animation: tranfom25  5s linear infinite;}
.tranfom26  {-webkit-animation: tranfom26  5s linear infinite;}
.tranfom27  {-webkit-animation: tranfom27  4.3s linear infinite;}
.tranfom28  {-webkit-animation: tranfom28  4s linear infinite;}
.tranfom29  {-webkit-animation: tranfom29  4.1s linear infinite;}
.tranfom30  {-webkit-animation: tranfom30  4s linear infinite;}
.tranfom31  {-webkit-animation: tranfom31  4s linear infinite;}
.tranfom32  {-webkit-animation: tranfom32  4.3s linear infinite;}
.tranfom33  {-webkit-animation: tranfom33  4s linear infinite;}
.tranfom34  {-webkit-animation: tranfom34  5s linear infinite;}
.tranfom35  {-webkit-animation: tranfom35  5s linear infinite;}
.tranfom36  {-webkit-animation: tranfom36  5.3s linear infinite;}
.tranfom37  {-webkit-animation: tranfom37  5s linear infinite;}
.tranfom38  {-webkit-animation: tranfom38  5s linear infinite;}
.tranfom39  {-webkit-animation: tranfom39  5.2s linear infinite;}
.tranfom40  {-webkit-animation: tranfom40  5s linear infinite;}
.tranfom41  {-webkit-animation: tranfom41  5s linear infinite;}
.tranfom42  {-webkit-animation: tranfom42  5.3s linear infinite;}
.tranfom43  {-webkit-animation: tranfom43  5s linear infinite;}
.tranfom44  {-webkit-animation: tranfom44  5s linear infinite;}
.tranfom45  {-webkit-animation: tranfom45  6.5s linear infinite;}
.tranfom46  {-webkit-animation: tranfom46  5s linear infinite;}
.tranfom47  {-webkit-animation: tranfom47  5s linear infinite;}
.tranfom48  {-webkit-animation: tranfom48  5s linear infinite;}
.tranfom49  {-webkit-animation: tranfom49  5s linear infinite;}
.tranfom50  {-webkit-animation: tranfom50  3.5s linear infinite;}
.tranfom51  {-webkit-animation: tranfom51  6s linear infinite;}
.tranfom52  {-webkit-animation: tranfom52  6s linear infinite;}
.tranfom53  {-webkit-animation: tranfom53  6.2s linear infinite;}
.tranfom54  {-webkit-animation: tranfom54  6s linear infinite;}
.tranfom55  {-webkit-animation: tranfom55  6s linear infinite;}
.tranfom56  {-webkit-animation: tranfom56  7.6s linear infinite;}
.tranfom57  {-webkit-animation: tranfom57  6s linear infinite;}
.tranfom58  {-webkit-animation: tranfom58  5s linear infinite;}
.tranfom59  {-webkit-animation: tranfom59  5.5s linear infinite;}
.tranfom60  {-webkit-animation: tranfom60  5s linear infinite;}
.tranfom61  {-webkit-animation: tranfom61  5.2s linear infinite;}
.tranfom62  {-webkit-animation: tranfom62  5s linear infinite;}
.tranfom63  {-webkit-animation: tranfom63  5.4s linear infinite;}
.tranfom64  {-webkit-animation: tranfom64  5s linear infinite;}
.tranfom65  {-webkit-animation: tranfom65  5s linear infinite;}
.tranfom66  {-webkit-animation: tranfom66  5.3s linear infinite;}
.tranfom67  {-webkit-animation: tranfom67  5s linear infinite;}
.tranfom68  {-webkit-animation: tranfom68  5s linear infinite;}
.tranfom69  {-webkit-animation: tranfom69  5.1s linear infinite;}
.tranfom70  {-webkit-animation: tranfom70  5s linear infinite;}
.tranfom71  {-webkit-animation: tranfom71  5s linear infinite;}
.tranfom72  {-webkit-animation: tranfom72  6s linear infinite;}
.tranfom73  {-webkit-animation: tranfom73  6s linear infinite;}
.tranfom74  {-webkit-animation: tranfom74  6.7s linear infinite;}
.tranfom75  {-webkit-animation: tranfom75  6s linear infinite;}
.tranfom76  {-webkit-animation: tranfom76  6.6s linear infinite;}
.tranfom77  {-webkit-animation: tranfom77  5s linear infinite;}
.tranfom78  {-webkit-animation: tranfom78  5s linear infinite;}
.tranfom79  {-webkit-animation: tranfom79  5.4s linear infinite;}
.tranfom80  {-webkit-animation: tranfom80  5s linear infinite;}
.tranfom81  {-webkit-animation: tranfom81  3.5s linear infinite;}
.tranfom82  {-webkit-animation: tranfom82  5s linear infinite;}
.tranfom83  {-webkit-animation: tranfom83  5.4s linear infinite;}
.tranfom84  {-webkit-animation: tranfom84  5s linear infinite;}
.tranfom85  {-webkit-animation: tranfom85  5.7s linear infinite;}
.tranfom86  {-webkit-animation: tranfom86  5s linear infinite;}
.tranfom87  {-webkit-animation: tranfom87  4s linear infinite;}
.tranfom88  {-webkit-animation: tranfom88  4.3s linear infinite;}
.tranfom89  {-webkit-animation: tranfom89  4s linear infinite;}
.tranfom90  {-webkit-animation: tranfom90  4s linear infinite;}
.tranfom91  {-webkit-animation: tranfom91  4s linear infinite;}
.tranfom92  {-webkit-animation: tranfom92  5.3s linear infinite;}
.tranfom93  {-webkit-animation: tranfom93  5s linear infinite;}
.tranfom94  {-webkit-animation: tranfom94  5s linear infinite;}
.tranfom95  {-webkit-animation: tranfom95  5.2s linear infinite;}
.tranfom96  {-webkit-animation: tranfom96  5s linear infinite;}
.tranfom97  {-webkit-animation: tranfom97  5.6s linear infinite;}
.tranfom98  {-webkit-animation: tranfom98  5s linear infinite;}
.tranfom99  {-webkit-animation: tranfom99  6.5s linear infinite;}
.tranfom100 {-webkit-animation: tranfom100 5s linear infinite;}


@keyframes tranfom1   { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom2   { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom3   { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom4   { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom5   { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom6   { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom7   { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom8   { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom9   { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom10  { 0%{transform: translateY(0)translateX(0)} 30%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom11  { 0%{transform: translateY(0)translateX(0)} 30%{transform: translateY(-25px) translateX(-30px)} 60%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom12  { 0%{transform: translateY(0)translateX(0)} 30%{transform: translateY(-25px) translateX(-30px)} 60%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom13  { 0%{transform: translateY(0)translateX(0)} 30%{transform: translateY(-25px) translateX(-30px)} 60%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom14  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 60%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom15  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(40px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom16  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(40px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom17  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(40px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom18  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(40px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom19  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 85%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom20  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 85%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom21  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 85%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom22  { 0%{transform: translateY(0)translateX(0)} 20%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 85%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom23  { 0%{transform: translateY(0)translateX(0)} 20%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom24  { 0%{transform: translateY(0)translateX(0)} 20%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom25  { 0%{transform: translateY(0)translateX(0)} 20%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom26  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(35px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom27  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(35px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom28  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(35px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom29  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(35px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom30  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom31  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom32  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom33  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom34  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom35  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 60%{transform: translateY(0) translateX(0)} 85%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom36  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 60%{transform: translateY(0) translateX(0)} 85%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom37  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 60%{transform: translateY(0) translateX(0)} 85%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom38  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 60%{transform: translateY(0) translateX(0)} 85%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom39  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom40  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom41  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom42  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom43  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom44  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom45  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom46  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom47  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom48  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom49  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom50  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom51  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom52  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom53  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom54  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom55  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom56  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom57  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom58  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom59  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom60  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom61  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom62  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom63  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom64  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom65  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom66  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom67  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom68  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom69  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom70  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom71  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom72  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom73  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom74  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom75  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom76  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom77  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom78  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom79  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom80  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom81  { 0%{transform: translateY(0)translateX(0)} 35%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom82  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom83  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom84  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom85  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom86  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom87  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom88  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom89  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom90  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom91  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom92  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom93  { 0%{transform: translateY(0)translateX(0)} 15%{transform: translateY(-25px) translateX(-30px)} 45%{transform: translateY(0) translateX(0)} 70%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom94  { 0%{transform: translateY(0)translateX(0)} 15%{transform: translateY(-25px) translateX(-30px)} 45%{transform: translateY(0) translateX(0)} 70%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom95  { 0%{transform: translateY(0)translateX(0)} 15%{transform: translateY(-25px) translateX(-30px)} 45%{transform: translateY(0) translateX(0)} 70%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom96  { 0%{transform: translateY(0)translateX(0)} 15%{transform: translateY(-25px) translateX(-30px)} 45%{transform: translateY(0) translateX(0)} 70%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom97  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom98  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom99  { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
@keyframes tranfom100 { 0%{transform: translateY(0)translateX(0)} 25%{transform: translateY(-25px) translateX(-30px)} 50%{transform: translateY(0) translateX(0)} 75%{transform: translateY(-25px) translateX(30px)} 100%{transform: translateY(0) translateX(0)} }
